<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title> An About Us Page </title>-->
  <link href="aboutstyle.css" type="text/css" rel="stylesheet">
</head>
<body>
  <section class="about-us">
    <div class="about">
        <img src="../static/phishtek.png" class="pic">
      <div class="text">
        <h2>Phish-tek Chrome Plugin</h2>
        <h5>Steps to download</h5>
          <p>1) Download the release.crx file by clicking on the button below <br><br>
            2) After downloading the file go to chrome browser Settings->Extension<br><br>
			3) Turn on Developer Mode from the top right<br><br>
		4) Click on Load Unpacked. Choose the release.crx file from the saved location<br><br>
  5) That will install the plugin in your browser. Go to a website and from toolbar->extensions, find the phish-tek plugin to use it<br><br>
6) Plugin will also send automatic popup-alerts if the website you've visited is phishing. Happy Phishing!!</p>
        <div class="data">
        <a href="https://drive.google.com/uc?id=1V2_a49McBHe8R-tfojNPzsC8BeK5Z9cr&export=download?usp=sharing" class="hire">Download Now!</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

