<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author">

	<title>Phishing Link Detection</title>

	<link rel="shortcut icon" href="../static/gt_favicon.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../static/bootstrap.min.css">
	<link rel="stylesheet" href="../static/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../static/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../static/main.css">

</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-static-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button style="color: rgb(15, 21, 26);" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a style="margin-right: 75px; margin-top: -15px; margin-bottom:10px" class="navbar-brand"><img src="../static/phishtek.png" width="100" height="100" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li style="font-size: 20px;"><a style="color: #483d8b; display:block; padding: 30px 20px;" href="contactus.html">Contact Us</a></li>
					<li style="font-size: 20px;"><a style="color: darkslateblue; padding: 30px 16px;" href="http://127.0.0.1:5000/predict">Link Detection</a></li>
					<li style="font-size: 20px;"><a style="color: darkslateblue; padding: 30px 16px;" href="about.html" >Download Plugin</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="image"> 
				<img src="../static/phishtekimage.png" alt="Phish-Tek"  style=" margin-left: -50px ;margin-top: -50px;display: flex; justify-content: left ; height: 250px; width: 500px;" >
			</div>
			<div class="row">
	<!--		<h1 style=  "text-align: right ; color: rgb(72, 61, 139); font-size: calc(300); " class="lead" > <b>Phish-Tek</b></h1> <br>
				<p style="text-align: end ; color: darkslateblue;"  class="tagline"><b>A Progressive way to Detect Phishing using Machine Learning</b> </p>
	-->
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin"><b> YOUR SAFETY IS NOW JUST ONE CLICK AWAY </b></h2>
		<p class="text-muted">
			Our aim is make the most efficient phishing detection tool which is fast, reliable and easy to use<br>
			With Phish-tek you can identify a phishing website just from its URL<br>
			What are you waiting for? Lets catch those phishes!
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h2 class="text-center thin">Why Choose Phish-Tek?</h3>

			<div class="row" style="margin-left:250px">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>AI Powered Backend</h4></div>
					<div class="h-body text-center">
						<p>We have a comprehensive machine learning backend which has been trained with a great accuracy to perfectly determine phishing links </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Blazingly Fast</h4></div>
					<div class="h-body text-center">
						<p>Our machine learning model is deployed on state-of-the art cloud platform IBM Watson Studio. Detection is blazingly fast and with no hiccups</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Absolutely Free</h4></div>
					<div class="h-body text-center">
						<p>Our product is absolutely free to use for everyone. We value your feedback alot. That's why we encourage our users to report all false negatives</p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">ABOUT US</h2>
		<br>

		<p style="margin-left: 180px ;text-align: center;background: 25px; padding: 20px; background-color: #8bcbf3bc; width: 800px;">Phish-tek was originally made by a group of like mined cyber security students as a part of their college curriculum.<br>
			Our aim is to safegaurd internet users from fake fraudulent websites and protect their data from getting into wrong hands.<br>
			We update our data-sets on a timely basis to keep our website up-to-date and make sure that you are totally safe.
			<br>Any feedback to make phish-tek better and more secure is most welcome!
		</p>
</div>	<!-- /container -->

	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
								<a href="mailto:#">phishtek@gmail.com</a><br>
								<br>
								VIT BHOPAL UNIVERSITY
								<br>
								Kothri Kalan, Astha, Bhopal<br>
								 Madhyapradesh
								466114
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow Us</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right; text-align:center">
								Copyright &copy; Phish-Tek 2023. All rights reserved by VIT Bhopal University.
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../static/headroom.min.js"></script>
	<script src="../static/jQuery.headroom.min.js"></script>
	<script src="../static/template.js"></script>
</body>
</html>
